/* GENERAL */
body, html {
	height: 100%;
	width: 100%;
}
body {
	background-color: #2d2d2d;
	color: #FFFFFF;
}
h1 {
	margin: 1.5rem 0;
	display: inline-block;
}
br {
	height: 0;
	margin: 0;
}
p {
	font-size: 16px;
	margin: 0 0 1rem;
}
header {
	padding: 2rem 1rem 2rem;
	background: #85adce;
}
a.button {
	padding: 8px 16px;
	border: 1px solid #FFFFFF;
	border-radius: 50px;
}
header a {
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 0.5px;
}
header a:hover {
	color: #96b8d9;
}
header a.selected {
	text-decoration: none;
	background: #ff853c;
	color: #FFFFFF;
	border: 1px solid #ff853c;
	font-weight: bold;
}
#human {
	margin-bottom: 1rem;
}

/* HELPERS */
.hide {
	display: none;
}
.display-inline {
	display: inline-block;
}

/* GAME ELEMENTS */
#battleship-board {
	display: inline-block;
	padding: 4px 2px 0;
}
#game-options-wrapper {
	float: right;
}
.game-container {
	margin: 1rem;
}
.game-container .container {
	padding: 3rem 1rem;
}
.game-type {
	display: block;
}

p#move {
	margin: 0 0 28px !important;
}
.tiles {
	margin: 0 2.5px;
	height: 50px;
	width: 50px;
	display: inline-block;
	background: #47769e;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .35);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .35);
    border-radius: 3px;
}
.tiles:hover {
	background: #F7F7F7;
	cursor: pointer;
}
.tiles.selected {
	background: #FFA762;
	pointer-events: none;
}
.tiles.guessed {
	background: #A5A5A5;
	pointer-events: none;
}
.tiles.hit {
	background: #B53131;
	pointer-events: none;
}
